---
# Handlers are triggered by notify statements in tasks
# They run at the end of the playbook if triggered

- name: restart cron
  ansible.builtin.service:
    name: cron
    state: restarted

- name: restart chronyd
  ansible.builtin.service:
    name: chronyd
    state: restarted
