# NTP configuration managed by Ansible
driftfile /var/lib/ntp/ntp.drift

# Specify one or more NTP servers
{% for server in ntp_servers %}
server {{ server }} iburst
{% endfor %}

{% if fallback_ntp_server is defined %}
# Use fallback NTP server
pool {{ fallback_ntp_server }} iburst
{% endif %}

# {{ "rAnDoM sTrInG" | upper }}

# By default, exchange time with everybody, but don't allow configuration
restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited
